[2013-07-09 10:34] ghost opened #4 "Actificat download fails on windows"
Hi,

Downloader code defines a read timeout or 10000
public static final int READ_TIMEOUT = 10000;

for some reason it times out on various windows machine, it's not reproduced on linux or osx.
Can you change the limit to 20000 or allow a configuration for this parameter

thanks.

[2013-08-22 11:07] #4 closed, assigned to nobody

[2013-10-13 10:43] igreenfield opened #7 "If extracted file exists throw exception"
If file exist I get exception, please add configuration that allows checking if file exist and if yes do nothing.

[2013-10-23 14:42] igreenfield opened #8 "expose getter for stopped filed in Executable class"
Please add getter to this field.

[2014-02-18 21:49] philnate opened #9 "CachingArtifactStore deletes exe file although still in use"
Lately our testcases started failing with an exception that the executable file wasn't found, although it was just extracted.
As it turns out the cleanup job which is registered with the CachingArtifactStore cleans up those files, before we even start the service up.

[code]

[code]

Before we start the given service, we ensure that there's no service, running meaning that we shutdown possible run

[2014-04-07 05:58] #7 closed, assigned to michaelmosmann

[2014-10-20 06:41] #9 closed, assigned to michaelmosmann

[2014-11-08 00:54] benmccann opened #17 "Document IArtifactStore.checkDistribution"
Would you be able to describe what `checkDistribution` is supposed to do? I'm not quite sure how to create an implementation of `IArtifactStore` since there's no Javadoc for this method

[2014-11-08 03:46] benmccann opened #18 "Release new version"
I'd love a new version of de.flapdoodle.embed.mongo that depends on the current code of de.flapdoodle.embed.process =)

[2014-11-17 21:22] #18 closed, assigned to nobody

[2014-12-07 06:52] ittaiz opened #19 "Enable Stopping and then starting back up a process"
Hi,
I'd like the ability to stop and then start back up a process.
After chatting on twitter with @michaelmosmann he suggested I open an issue here since currently the cleanup is done when stopping the process.
My suggestion is to enable configuring a process to defer this step to system shutdown.
cc @viliusl

[2015-02-18 14:22] viliusl opened #20 "Expose private fields in AbstractProcess as protected/via getters"
AbstractProcess exposes different hooks (onBefore.., onAfter..) with a selection of input params.

In my case (embedded mysql) my needs differ, so I would suggest to change:
    private final T config;
    private final IRuntimeConfig runtimeConfig;
    private final E executable;

to protected - which imho is a proper visibility for an abstract/base class and these are not really secret/internals

[2015-02-18 14:40] viliusl opened #21 "Discussion: support for extraction of directories/folders"
For a library I'm working on there is a need to extract folders with whatever there is. It's my-sql, so there are support/translation/schema init files.

My solution now works like:
1. I have a custom/random path for single extraction (ArtifactStore);
2. I have a NoopNaming to preserve original file names;
3. I have added all required files (100 or so) to IPackageResolver.getFileSet();
4. I manual

[2015-04-27 12:19] sazzer opened #24 "Extracting ZIP binaries on OS X doesn't work reliably"
I'm trying to make use of the [PostgreSQL Embedded](https://github.com/yandex-qatools/postgresql-embedded) library that itself uses this library, and on Linux it now works great. Unfortunately on OS X it fails to extract the binaries to execute.

I've raised an issue on the PostgreSQL Embedded issue tracker at https://github.com/yandex-qatools/postgresql-embedded/issues/2, but from investigation i

[2015-04-27 13:01] michaelmosmann commented on #24
Will try to make a new release soon.. thanks for your help.

[2015-04-27 13:05] sazzer commented on #24
No problem. It's a great project that really makes life easier and safer
for testing so I'm glad to be able to help :-)
On 27 Apr 2015 14:01, "Michael Mosmann" <notifications@github.com> wrote:

[2015-04-28 10:37] danielFesenmeyerAtBosch opened #27 "OutOfMemoryError in LogWatchStreamProcessor when running many commands"
When running many commands (e.g. 100.000 inserts with the async Mongo Java driver), an OutOfMemoryError occurs:

Exception in thread "Thread-4" java.lang.OutOfMemoryError: Java heap space
	at java.util.Arrays.copyOf(Unknown Source)
	at java.lang.AbstractStringBuilder.expandCapacity(Unknown Source)
	at java.lang.AbstractStringBuilder.ensureCapacityInternal(Unknown Source)
	at java.lang.AbstractStri

[2015-04-28 10:41] #27 closed

[2015-04-28 10:42] danielFesenmeyerAtBosch commented on #27
Moved this issue to de.flapdoodle.embed.mongo.

[2015-06-15 17:37] kfowler opened #29 "Threads/Executor don't get cleaned-up in sbt test"
Our test suite fails when using flapdoodle to run an embedded mongo in our sbt test suite.

It looks like every test creates a new flapdoodle mongo, each of those has a `CachingArtifactStore`, and it creates an executor in its constructor. If I close-out the executor in `CacheCleaner`, our test suite completes successfully.

Here'a patch: https://github.com/flapdoodle-oss/de.flapdoodle.embed.proce

[2015-08-18 09:33] #24 closed

[2015-08-18 09:36] michaelmosmann commented on #17
I did a lot of refactoring in this are.. and i will do a lot more (rewrite most of it). So i hope, with the next major release it will be much better to understand each piece.. :)

[2015-08-18 09:36] #17 closed

[2015-08-18 09:38] michaelmosmann commented on #8
Is there still a need?

[2015-08-18 09:44] michaelmosmann commented on #29
ah.. should be fixed. :)

[2015-08-18 09:44] #29 closed

[2015-08-31 08:44] arteam opened #32 "Incorrect OS bitness detection"
I am running a 32-bit JVM on a 64-bit Linux machine.

[code]

`System.getProperty("os.arch")` call returns _i386_.  But my system is 64-bit anyway, regardless of bitness of the JVM. I guess it's not a very common combination, but some users still use it.

On a 64-bit JVM detection works quite fine.

[2015-10-05 21:18] vbauer opened #33 "Upgrade commons-compress"
A lot of changes (bug fixes and performance improvements) in commons-compress: https://commons.apache.org/proper/commons-compress/changes-report.html

Could you please upgrade this library from version 1.3 to 1.10?

[2015-10-06 18:56] chapmbk commented on #21
Has any progress been made on this?

[2015-10-06 21:22] michaelmosmann commented on #21
I did some rework ... But i am not sure, how far i got. Lets talk about this next week. I will have a look at it. Maybe it is now easier to implement.

[2015-10-06 21:24] michaelmosmann commented on #33
Sure we can.. (I hope so).. If you want, you can make a pull request:) .. I can change this not before next monday.

[2015-10-06 21:46] vbauer commented on #33
NP, I've just sent PR.

[2015-10-07 06:27] viliusl commented on #21
Aha, discussion started. If we would agree on baseline implementation, I could work on it and issue a PR.

@michaelmosmann - would you agree to a solution described above?

[2015-10-07 06:46] michaelmosmann commented on #21
Now i know, what i had changed.. The current impl is able to store the extraction result in the same way like the downloaded archive. So extraction is now only done once, which should give a major speedup. If we add support for folders and stuff, it should also work this way. ... I have no better idea than yours. :)

[2015-10-07 07:32] viliusl commented on #21
Yes and thing you implemented works like magic - using it already in
https://github.com/wix/wix-embedded-mysql:)

Ok, so once I will have some time I will work on introducing folder support
- just did not want to start working on it without having pre-ok from
maintainers - would be sad to spend time on it and get rejected.

On Wed, Oct 7, 2015 at 9:46 AM, Michael Mosmann <notifications@github.com>

[2015-10-07 08:11] michaelmosmann commented on #21
I will not reject contributions... :)

[2015-10-22 11:41] muzammil786 commented on #7
This does not help if you are running a replica set. The exception occurs when it tries to prepare secondary node.

[2015-10-22 11:41] muzammil786 commented on #7
Do you have any example of running replica set with fixed executableNaming()?

[2015-10-22 11:53] michaelmosmann commented on #7
Hmm.. That's a point.. can you support some test code?

[2015-10-22 12:03] muzammil786 commented on #7
I have tried to provide different names for each extraction done for each node. Now it is given me exception: "Command failed with error 94: 'no replset config has been received' on server localhost:37017. The full response is { "info" : "run rs.initiate(...) if not yet done for the set", "ok" : 0.0, "errmsg" : "no replset config has been received", "code" : 94 }"

Any idea??

[2015-10-22 13:04] michaelmosmann commented on #7
Hmm.. no.. do you have some code?

[2015-10-22 15:33] muzammil786 commented on #7
Here is a Java class that handles the initialization of replicaset through embedded mongo. You can find the failing test following the code.

Let me know if any problems.

[code]

The test as follows:

[code]

[2016-01-18 20:05] benson-basis opened #36 "Allow control of cleanup timing"
This library sets shutdown hooks. This can lead to some very strange class loading problems in Maven 3.2.x and above, as shown below. As best I can work out, the only fix here is to expose an API to allow a maven plugin that is calling this library (or a library that calls this library, like the mongo embedded) to explicitly shut things down when it's done.

[code]

[2016-02-12 21:23] codethala opened #38 "Failed to execute goal com.github.joelittlejohn.embedmongo:embedmongo-maven-plugin:0.3.4:stop (stop)"
Waiting for Jenkins to finish collecting data
[ERROR] Failed to execute goal com.github.joelittlejohn.embedmongo:embedmongo-maven-plugin:0.3.4:stop (stop) on project eql-service: Execution stop of goal com.github.joelittlejohn.embedmongo:embedmongo-maven-plugin:0.3.4:stop failed: Couldn't kill mongod process!
[ERROR]
[ERROR] ----------------------------------------------------
[ERROR] Something ba

[2016-06-15 12:13] puntogil opened #42 "de.flapdoodle.embed.process don't include the license file"
Not available LICENSE file in source directory structure
Please. Added license and copyright notice.
the fedora pakaging guideline is very strictly precise about this problem
https://fedoraproject.org/wiki/Packaging:LicensingGuidelines?rd=Packaging/LicensingGuidelines#License_Text
thanks
regards

[2016-06-16 05:22] michaelmosmann commented on #42
I added a LICENSE file, but i am not sure, if it is what you wanted... Can you have a look?

btw: why do we need support some fedora packaging stuff? can you explain this a little bit?

[2016-06-16 09:08] puntogil commented on #42
hi
that is a "NOTICE" file obtainable at the bottom of the "LICENSE" file available at http://www.apache.org/licenses/LICENSE-2.0.txt
but i found another problem, off topic, our builders haven't a web connection
and this library download, for us [1], unneeded resources [2] (i used an x32 OS).
thanks
regards
[1] https://fedoraproject.org/wiki/Fedora_Project_Wiki
[2] phantomjs-1.8.2-linux-x86_64.tar

[2016-06-16 09:18] puntogil commented on #42
if someone uses this library, perhaps, it is why he installed on your operating system  that the package [1] is downloaded ...? otherwise it would not make much sense to me at least ...
sorry for the noise

 [1] mongodb-linux-i686-3.2.1.tgz

[2016-06-16 10:02] michaelmosmann commented on #42
Hmm.. If you build this package with maven with enables test, then there is a test which tries to download phantomjs ..
I can change the project setup, where no integration tests are run by default and this way no download is triggered..
Will that help?

(i did change the LICENSE file.. this time it should be alright)

[2016-06-16 11:00] puntogil commented on #42
yes, thanks

[2016-06-16 13:06] michaelmosmann commented on #42
btw: why do you build this project yourself and do not use the release-version from maven-central?
https://repo1.maven.org/maven2/de/flapdoodle/embed/de.flapdoodle.embed.process/

[2016-06-16 13:10] puntogil commented on #42
Sorry, again off topic, we use gradle >= 2.5 and for this one is necessary provide a settings.gradle file with the following content:
rootProject.name="de.flapdoodle.embed.process"
the reasons of this request are explained here
https://discuss.gradle.org/t/rootproject-name-in-settings-gradle-vs-projectname-in-build-gradle/5704/2
I used for fix: echo 'rootProject.name="de.flapdoodle.embed.process"'

[2016-06-16 13:19] puntogil commented on #42
because of our packaging guideline [1]. We can't use pre-built libraries
and binaries. usually we ship in Fedora the latest version of each projects which we use, and all of these are built from source code. the reason/s is/are explained here
[1] https://fedoraproject.org/wiki/Packaging:Guidelines?rd=Packaging/Guidelines#No_inclusion_of_pre-built_binaries_or_libraries

[2016-06-16 13:56] michaelmosmann commented on #42
Ok.. can we somehow detect,if the project is build for fedora? so we can disable integration test (to prevent downloads).

Do you use the latest release version or do you build from master (which is not the latest stable version)?

[2016-06-16 14:08] matlockx commented on #42
gradle.settings added

[2016-06-16 14:11] puntogil commented on #42
for reason of time i used  an x86_64 (but are available for x32, arm) builder
all log file are available here: http://koji.fedoraproject.org/koji/taskinfo?taskID=14519212

[2016-06-16 14:15] puntogil commented on #42
Sorry, forgotten, i used latest stable release

[2016-06-16 16:30] puntogil commented on #42
no i prefer use maven (ant) instead of gradle ...

[2016-08-15 21:31] michaelahlers opened #43 "FileSet Instances with Identical Contents Fail Equality, Have Inconsistent Hash Codes"
Two `FileSet` instances with identical contents are reflexively equal (by reference) but not intrinsically equal (by contents), and they exhibit inconsistent hash codes. The same statement is true of `FileSet.Entry`. Apart from missing implementations on `FileSet` itself, this is caused by `FileSet.Entry#_matchingPattern` participating in `equality` and `hashCode` but `java.util.regex.Pattern` doe

[2016-08-15 21:32] michaelahlers commented on #43
There's a straightforward solution using `Pattern#pattern()` for equality and hashing. I'll be submitting a pull request with a patch and unit tests shortly.

[2016-08-17 20:05] michaelahlers opened #45 "Windows Process Id. Discovery Fails"
Calls to `de.flapdoodle.embed.process.runtime.Processes#windowsProcessId` return `null`, and emit the following error (when `AbstractProcess` is instantiated):

[code]

Subsequent calls to `windowsProcessId` then emit:

[code]

[A build hosted by AppVeyor](https://ci.appveyor.com/project/michaelahlers/flapdoodle-embed-process-issue-45) demonstrates the issue. See [relevant sample project](https://

[2016-12-09 16:54] QuentinBrun opened #48 "ExtractedFileSets.copy return a IExtractedFileSet with a executable file already containing base directory"
In class ExtractedFileSets, static method copy have a strange behavior.
Here is the signature : public static IExtractedFileSet copy(IExtractedFileSet src, IDirectory directory, ITempNaming executableNaming) throws IOException

I expect that the copied file have the following form :
BaseDir = directory
executable = executableNaming

Currently we have a new IExtractedFileSet with :
BaseDire = direc

[2016-12-12 08:10] QuentinBrun commented on #48
fix in merge #49

[2016-12-12 08:10] #48 closed

[2017-02-17 15:19] bobtiernay-okta opened #51 "Allow AbstractProcess to call Process#destroyForcibly"
For daemon processes that don't have application support for a graceful shutdown, there is currently no way to issue a shutdown cleanly in `AbstractProcess` subclasses by calling `stopProcess`:

[code]

without the following message being emitted from `ProcessControl#waitForProcessGotKilled`:

Note that calling `sendTermToProcess`, `sendKillToProcess` or `tryKillToProcess` inside `stopInternal` do

[2017-03-18 03:53] michaelmosmann opened #53 "use de.flapdoodle.transition as base for de.flapdoodle.embed.process"

[2017-04-23 19:21] altrive commented on #45
I've confirmed same error on AppVeyor windows build.
It seems to be resolved by adding "-Djna.nosys=true" JVM option.

https://ci.appveyor.com/project/altrive/flapdoodle-embed-process-issue-45/build/2

[2017-04-23 21:41] michaelahlers commented on #45
@altrive, that's a great find. Based on that, I found a related issue at native-access/jna#384.

[2017-04-26 04:28] chef-wong commented on #19
I would also like to note that in the following code, you cannot call the mongoExecutable.start() after mongoExecutable.stop() because of the "stopped" boolean: https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/blob/master/src/main/java/de/flapdoodle/embed/process/runtime/Executable.java#L106

Shouldn't this line be in the stop() method? https://github.com/flapdoodle-oss/de.flapdoodle.

[2017-06-14 21:58] gsugambit opened #54 "Allow logWatch configurable timeout"
This library has been absolutely amazing. The one problem we have is the isProcessRunning method right now uses a 2000ms timeout and if it does not complete within that time period it returns a false. This causes any conditional logic on this to execute even when the process is really still running.

Could you provide a

isProcessRunning(Platform platform, long pid, long timeout) and use the timeo

[2017-06-14 21:59] Loki-Afro commented on #54
Would be happy about a PR ;)

[2017-06-14 22:02] gsugambit commented on #54
Ok, sounds good.

The process here is fork, fix in my repo. Then create pull request?

[2017-06-14 22:03] Loki-Afro commented on #54
correct

[2017-06-14 22:10] gsugambit commented on #54
@Loki-Afro there are a few ways to solve this staying backwards compatible with current code. I can easily do whichever strategy you would like.

1. create a static TIMEOUT parameter (default value to 2000) that can be set and changed and have the current isProcessRunning code use that variable on line 172

e.g. to configure it you would do Processes.TIMEOUT = x.
2. copy and paste the current meth

[2017-06-14 22:18] Loki-Afro commented on #54
Hold it backward compatible by overloading the method and there should also be a way for unix like systems, but there I don't know a better way ...

[2017-06-14 22:22] gsugambit commented on #54
Lol I'm completely not thinking. Will do

On Jun 14, 2017 5:18 PM, "Phillip" <notifications@github.com> wrote:

[2017-06-14 23:16] gsugambit commented on #54
@Loki-Afro which branch should I work off of? It seems the master branch does not compile but the java8 branch does. In the master there are some missing immutables imports it seems?

[2017-06-15 07:15] Loki-Afro commented on #54
process-2.x.x should be the correct version for what you want to do

[2017-06-19 06:43] linyongfu2013 opened #55 "how does it work?"
i don't see any db connection instance or configuration , and could not find any db persistence file , how and where is the data store?

[2017-06-19 14:48] Loki-Afro commented on #55
I guess you are talking about an other project like https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo ?

[2017-06-26 02:28] gsugambit commented on #54
@Loki-Afro thanks!

[2017-06-26 02:34] gsugambit commented on #54
@Loki-Afro should i be building this on linux? on windows when i do a "mvn clean install", i get a "Cannot run program...CreateProcess error=193, %1 is not a valid Win32 application" exception. Is there some other maven goal or some -D I need to be injecting into the build?
i looked at the above link and i see it's doing "mvn test" which doesnt work with me either

[2017-06-29 16:14] Loki-Afro commented on #54
@gsugambit sorry I do not have a video game console operating system, dunno.

@michaelmosmann can you help?

[2017-07-06 00:37] gsugambit commented on #54
@Loki-Afro it seems as if windows doesn't matter in this. I get the same exception on ubuntu except the maven build succeeds
![image](https://user-images.githubusercontent.com/13861767/27890606-66c0136c-61b9-11e7-9d1a-49b575a5cfa4.png)

[2017-07-12 03:05] xuwei-k opened #57 "[jdk9] java.lang.Process#getPid renamed to pid"
- https://docs.oracle.com/javase/9/docs/api/java/lang/Process.html#pid--
- https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/blob/de.flapdoodle.embed.process-2.0.1/src/main/java/de/flapdoodle/embed/process/runtime/Processes.java#L195
- http://hg.openjdk.java.net/jdk9/jdk9/jdk/rev/23255bc8606d

[2017-07-15 06:33] #55 closed

[2017-09-26 09:05] faizan-talena opened #61 "AbstractProcess.stop : cleanupInternal is not called if stopInternal throws Exception"
AbstractProcess.stop calls stopInternal and cleanupInternal.
If stopInternal throws exception should cleanupInterval be called ? Maybe in a finally block ?

This will solve lot of problems where temporary directories are not cleaned up.

[2017-09-29 19:51] vietj commented on #57
any release expected that would contain this patch ?

[2017-10-03 09:23] aveuiller opened #62 "sendTermToProcess() and sendKillToProcess() should be using getProcessId()"
I'm currently using your library to embed an InfluxDB database (https://github.com/APISENSE/embed-influxDB), that's overall working pretty well. :)

I only have a problem when shutting down the process, using [AbstractProcess#sendTermToProcess](https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/blob/09a5f51a0178e7e688bd3580488f02a368541488/src/main/java/de/flapdoodle/embed/process/runti

[2017-10-03 09:38] #62 closed

[2017-10-20 14:59] vladimirtkach opened #64 "Need a way to pass timeouts to ProcessControl.stopOrDestroyProcess"
Our unit tests constantly fail because of:
[code]
During debugging i figured out that increasing timeouts  in ProcessControl.stopOrDestroyProcess to 4-5 seconds actually solves the problem. But for now there isn't a way to configure those timeouts.

[2017-10-21 17:08] voplex95 commented on #57
+

[2017-11-13 18:12] aadrian opened #65 "Firebird DB Support"
Hi,

Any plans adding Firebird DB support: https://en.wikipedia.org/wiki/Firebird_(database_server) ?

Thank you.

[2017-11-14 16:40] michaelmosmann commented on #65
Not now.. feel free to create your own..
maybe you can have a look at https://github.com/wix/wix-embedded-mysql

[2017-11-25 22:12] juliuskrah commented on #57
+1

[2017-12-01 08:53] p-zalejko commented on #57
+1

[2017-12-06 13:19] eduardSanin commented on #57
+1

[2017-12-21 04:08] amcomaschi commented on #57
+1

[2018-01-26 13:22] Koernerbrot commented on #57
+1

[2018-01-30 08:24] kulabun commented on #57
+1

[2018-02-07 14:39] mihbor commented on #57
+1

[2018-02-07 14:49] groothuyse commented on #57
+1

[2018-02-07 18:43] GaCampioto commented on #57
+1

[2018-02-12 08:59] #57 closed

[2018-03-01 11:26] sasavilic opened #70 "TGZ hardlinks are ignored and instead files with size 0 are created"
Hi,

I was debugging strange issue with embedded Postgres (which internally uses this library) and I found that this library is ignoring hard links from TGZ. Instead of creating hard links, it creates files with size 0.

The problem is at AbstractExtractor::extract(). TarArchiveInputStream returns TarArchiveEntry with following properties:
[code]
which is then casted to ArchiveEntry object (variab

[2018-03-22 08:13] NielsDoucet opened #72 "Initialise logger in Executable with getClass()"
https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/blob/90607b174eea502128dd720f514b2a32b62198e1/src/main/java/de/flapdoodle/embed/process/runtime/Executable.java#L39

It would be nice for added clarity to initialise the logger inside the abstract Executable class with getClass() instead. That way you have the right context when the following line is logged: `logger.info("start {}", con

[2018-03-22 08:25] NielsDoucet commented on #72
done, thanks :)

[2018-03-22 08:28] #72 closed

[2018-03-27 04:26] olamy opened #74 "Wrong method used by reflection to get the pid"
https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/blob/4566c4e273d79b69a525b2de9f1679b18aecf5a7/src/main/java/de/flapdoodle/embed/process/runtime/Processes.java#L195

the method in java is "pid" see https://docs.oracle.com/javase/9/docs/api/java/lang/Process.html#pid--

[2018-03-27 09:12] Loki-Afro commented on #74
This is already fixed, see https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/pull/66

make sure you use the latest version

[2018-03-27 09:12] #74 closed

[2018-03-27 09:18] olamy commented on #74
thanks for the information.
But I cannot see the fix in master.
which branch is used/maintained?

[2018-03-27 09:38] Loki-Afro commented on #74
see here https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/pull/66#issuecomment-365527953 => 2.0.2

if you look at the pull request you can see the target branch

[2018-04-03 18:15] Loki-Afro opened #78 "new 2.0.3 release for jdk 10 compatibility"
new 2.0.3 release for jdk 10 compatibility

@matlockx could you do that? :) Well at least a SNAPSHOT ...

[2018-04-12 20:36] sasavilic commented on #70
I am not sure in which library is the problem at, apache compress or this library. Anyway, I found a workaround: I have repacked postgres tgz to remove hard links.

[2018-04-12 20:43] Loki-Afro commented on #70
so this issue can be closed? ;)

[2018-04-18 07:38] sdeleuze opened #79 "java.lang.NoSuchFieldException: handle error on Linux"
This prints a stacktrace on Linux and IMO should be avoided: https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/blob/master/src/main/java/de/flapdoodle/embed/process/runtime/Processes.java#L120

[code]

[2018-04-18 07:39] Loki-Afro commented on #79
duplicate .. https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/issues/78

[2018-04-18 07:39] #79 closed

[2018-04-20 13:27] sasavilic commented on #70
Not really :). The issue is still present and workaround is just a workaround.

[2018-05-13 10:44] Loki-Afro commented on #78
@matlockx ping

[2018-05-13 15:26] matlockx commented on #78
Gonna try this evening. Otherwise tomorrow

On Sun, May 13, 2018, 12:44 Phillip <notifications@github.com> wrote:

[2018-05-13 21:18] matlockx commented on #78
2.0.3 released

[2018-05-19 17:11] torsten-liermann opened #86 "Q: Is it possible to embed a Java based program with this tool?"
Hi,

Is it possible to embed a Java based program (i.e. fat jar) with this tool without packaging a jdk? All listed projects based on executable binaries.

Thanks,
Torsten

[2018-05-20 19:00] torsten-liermann commented on #86
It looks like that is not supported. If I use a bat script as wrapper on Windows 10, the flapdoodle.embed.process logic will not be able to terminate the wrapper process and the java process.

[2018-05-21 15:16] #36 closed

[2018-05-21 15:20] Loki-Afro commented on #86
@torsten-liermann no it is not supported. But you ma y had the right guess: repacking the binary with a jdk/jre.

[2018-05-21 15:20] #86 closed

[2018-05-22 17:19] jmichelgarcia commented on #78
Still have the issue with JDK 10 on Macos & 2.0.3

[code]

[2018-05-24 11:02] 9TE3 commented on #78
Have the same problem using OpenJDK 10 on Linux Mint using new version 2.0.3

[code]

[2018-05-26 23:17] Loki-Afro commented on #78
@jmichelgarcia are you absolutly sure you are using 2.0.3? if so please open a new issue with some logs, this was only for releasing the artifact, sorry :)

[2018-05-26 23:17] #78 closed

[2018-06-04 22:31] ispringer commented on #36
Any chance you can do a release that includes this fix?

[2018-06-15 16:20] benmccann opened #87 "Cut new release of process-2.x.x"
Would you be able to cut a new release of the process-2.x.x branch? Thanks!

[2018-06-15 18:56] matlockx commented on #87
Will do this weekend

On Fri, Jun 15, 2018, 18:20 Ben McCann <notifications@github.com> wrote:

[2018-06-15 18:59] benmccann commented on #87
Thanks!!

[2018-08-30 11:35] silmeth opened #91 "Support for Java newer than 9"
Currently the [`de.flapdoodle.embed.process.runtime.Processes`](https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/blob/master/src/main/java/de/flapdoodle/embed/process/runtime/Processes.java#L57-L65) class depends on the `javax.lang.model.SourceVersion` enum providing the `RELEASE_9` variant in its `latest()` method to determine whether old legacy way of obtaining `pid` is to be used,

[2018-08-30 15:38] Loki-Afro commented on #91
@silmeth take a look at branch process-2.x.x, which is newer than the master and also production ready (at least the release versions ;) )

[2018-08-30 15:38] #91 closed

[2018-08-30 16:02] silmeth commented on #91
Oups, sorry I bothered you then. Thanks for such quick reply! :)

[2018-09-04 11:03] jawi opened #92 "Upgrade commons-compress (once more)"
The recently released commons-compress v1.18 includes fixes for the [Zip-slip](https://github.com/snyk/zip-slip-vulnerability) vulnerability. Both the 2.2.x branch as well as master stil use an outdated version making this library potentially vulnerable to Zip-slip.

[2018-09-04 21:43] Loki-Afro commented on #92
@jawi thanks for letting us know ;)

[2018-09-04 21:44] #92 closed

[2018-12-07 12:01] svavassori opened #97 "Network getLocalHost behaviour with loopback"
Hello,

This is more a feature request than an actual bug, I'm sorry if it's the wrong place to report it.

The Network.getLocalHost() implementation tries to return a loopback address if available. https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/blob/8aecb80c4a8485a00d9410768cef630e48261ab1/src/main/java/de/flapdoodle/embed/process/runtime/Network.java#L62-L71

However, if in the sy

[2018-12-08 14:02] Loki-Afro commented on #97
Hi, @svavassori  unfortunately this is  very sensitive part but I guess one could try the following

[code]

But not 100% sure if it is safe

[2018-12-09 17:12] matlockx commented on #87
done

[2018-12-09 17:12] #87 closed

[2018-12-09 22:53] svavassori commented on #97
It is an improvement, but unfortunately the exception is raised at the very first line: `InetAddress.getLocalHost()` so this patch wouldn't help.

Which use-case are you covering by first asking for a local host and then check if it's a loopback address?

[2019-01-11 10:53] x-hovo-x opened #98 "Mongo with Postgress test makes terribly slow"
Hi guys,

we are using your lib for embedded mongodb and postgres integration test and if mongo test starts before then postgres takes ages (about 30-40 min) to extract postgresql-9.6.2-1-osx-binaries.zip. (Extract /Users/hasatryan/.embedpostgresql/postgresql-9.6.2-1-osx-binaries.zip START).
If we force to change order then it is perfectly okay.
We also do profiling and there are 2 threads but no

[2019-01-11 13:53] x-hovo-x commented on #98
adding .cmdOptions(new MongoCmdOptionsBuilder()
                        .defaultSyncDelay()
helped for me, any idea why it is 0 in the library?

[2019-01-11 19:00] Loki-Afro commented on #98
@x-hovo-x I can only guess, this change was back in 2013.

But with my experience .. syncDelay and mac os or mac os in general and syncing files to disk is a bit weird from time to time.

Not quite sure whats the issue in those cases, maybe it has something to do with the file system as well.

If you can debug further, you could look deeper on os level or fs level...

But does this only affect you

[2019-01-11 19:05] x-hovo-x commented on #98
Actually, it affects all mac and ubuntu os.
Moreover, we found out that with de.flapdoodle.embed:de.flapdoodle.embed.mongo:1.50.5 version (Mongo 3.2) works ok but after updating to de.flapdoodle.embed:de.flapdoodle.embed.mongo:2.2.0 (mongo > 3.6) problem appears.

[2019-01-11 19:07] Loki-Afro commented on #98
Is 4.x also affected?
Could you provide some source code to reproduce this issue? I know its a lot of work to get such things together but often the only way :/

[2019-01-14 13:21] x-hovo-x commented on #98
https://github.com/x-hovo-x/flapdoodle-test

[2019-01-14 19:16] Loki-Afro commented on #98
before digging any further I spotted `compile 'cz.jirutka.spring:embedmongo-spring:1.3.1'` this is somewhat deprecated

Please read this issue https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/260 maybe there are some hints for you too.

Could you refactor that out and try again?

[2019-01-15 10:52] x-hovo-x commented on #98
sorry, it was copy-paste issue :), I removed it and problem is still there

[2019-01-15 18:15] Loki-Afro commented on #98
@x-hovo-x the project has no new commits :/

[2019-01-15 18:59] x-hovo-x commented on #98
sorry, pushed ...

[2019-01-31 10:41] ogerardin commented on #32
After some digging around I found the explanation and a solution here: https://stackoverflow.com/a/5940770/170637

So I substituted the default BitSize with the following code:

[code]

I have confirmed that when running in a 32-bit JVM on a 64-bit Windows, I can successfully download and run a 64-bit MongoDB.

Since the whole point of this project is to run external commands, It's the OS bitness

[2019-01-31 20:07] Loki-Afro commented on #32
@ogerardin

I agree, but windows is just one world. On Linux you can't even start the java 32 bit binary if you are on a 64 bit system, maybe that changed (knowledge from 2016 ...).

[2019-01-31 21:58] ogerardin commented on #32
Well that would mean this particular problem doesn't exist in the Linux world at least :) It seems indeed to be a Windows-specific issue as Windows tries hard to make 32-bit applications believe they're running in a 32-bit OS, and my fix only targets Windows.

Any chance to see this change incorporated in the future? I can submit a PR if you'd prefer that.

[2019-01-31 22:17] Loki-Afro commented on #32
And regarding the java.com-32 bit-windows mess ... who uses java.com to download a jdk? no one and this installation routine dosen't have that issue.

This library is intended for (unit/integration) testing so I'm pretty sure you have installed a jdk.

The only valid point when this issue might bite you if you are running tests with a 32 bit jdk and a 64 bit jdk for sanity reasons - but let's face

[2019-02-01 10:13] ogerardin commented on #32
Well, Java on the desktop might be dead for fat clients and applets, but I'm trying to build a Java daemon/service that can be installed by an end-user, hence the reference to java.com.
I know that this library is intended to facilitate testing, but it also works perfectly in this scenario because it avoids having to download, install and configure MongoDB separately, something an end-user is not

[2019-02-01 11:14] Loki-Afro commented on #32
dosen't look too bad for me.
In every project you end up with some customisations ... you can't make everyone happy with some defaults, thats why you can overwrite these method to do these customisations

Some of the things I do usually
- Pin tests to a specific mongo version
- Some project specific codecs if necessary

I'm closing this issue for now and thanks for the input :)

P.S.:
and regardin

[2019-02-01 11:14] #32 closed

[2019-02-01 11:58] ogerardin commented on #32
Fair enough.

To be honest the thing I'm most unhappy about is that I can't inherit Spring's EmbeddedMongoAutoConfiguration and override some methods because they are private, so I had to copy much of the code to provide my own configuration...

[2019-02-01 12:00] Loki-Afro commented on #32
@ogerardin well thats the pain and gain game of spring boot ... perfect to prototype .. but in the real ...

[2019-03-23 17:28] vbauer opened #99 "Could not build project with Java 11"
I've tried to run `mvn clean package` with Java 11 and got the following error:

[code]

Extra information:
[code]

I'm not sure, but probably it could be fixed in the latest version of maven-surefire-plugin

[2019-03-23 17:38] vbauer opened #100 "Could not build project with Java 8"
I've tried to run `mvn clean package` with Java 8 and got the following error:

[code]

Extra information:
[code]

[2019-03-23 17:48] vbauer commented on #100
Pull request for this issue: https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/pull/101

[2019-06-11 14:09] Kabal163 opened #105 "Java 11 - NoSuchFieldException: handle"
Hi everyone!
Method **de.flapdoodle.embed.process.runtime.Processes.windowsProcessId** invokes reflection and tries to get field "handle" but in java 11 ProcessImpl doesn't have such field.
Full stack trace:
[code]

[2019-07-23 07:42] jstuyts opened #106 "LogWatchStreamProcessor keeps collecting output (=using memory) after client is done"
The `LogWatchStreamProcessor` keeps appending to a string builder for the output after the client has used the processor to get the needed information. This means that for long running processes with lots of output, the processor needlessly consumes a lot of memory.

Add a method to the processor so the client can indicate that it is ready with the processor, and the processor can stop consuming e

[2019-07-23 08:01] Loki-Afro commented on #106
Looks legit, you can create a PR for that onto the process-2.x.x branch :)

[2019-08-05 13:32] merlin-zaraza commented on #105
Same with me. Please fix it

[2019-08-05 16:30] Loki-Afro commented on #105
this was fixed a long while ago, use the most recent version of embed mongo and process

[2019-08-05 16:30] #105 closed

[2020-04-02 02:44] Nirothipan opened #111 "Unexpected error: java.security.InvalidAlgorithmParameterException when downloading MySQL"
When using https://github.com/wix/wix-embedded-mysql and when downloading mysql 8 latest, it gives the following ssl issue.

JDK Version : **Oracle "1.8.0_191"**
OS Version :  **Ubuntu 18.04**

Is there anything which can be done in the library side other than adding certs to the jdk or etc.

[code]

[2021-01-26 01:42] kpagratis opened #115 "I can't get ExtractedArtifactStore to behave"
I'm creating an ExtractedArtifactStore like so
[code]

My package resolver is defined with the following fileset
[code]

When calling prepare on my starter, I get the following exception

[code]

And my extracted looks like so
[code]

Any help would be greatly appreciated. Thanks!

[2021-01-26 02:47] kpagratis commented on #115
I've also tried
[code]

The extracted directory looks fine but it fails with
[code]

The strange this is this fails the first time, then runs as expected after that.

[2021-01-26 02:48] kpagratis commented on #115
This code is written in scala and is running against version 3.0.1

[2021-01-27 01:31] kpagratis commented on #115
I ended up creating my own store that doesn't munge the executable name

[2021-01-31 08:10] michaelmosmann commented on #115
hmm.. i would guess, that it fails because at first the directory is missing.. but it just a guess...

[2021-03-13 02:51] AlecJStrickland opened #116 "LogWatchStreamProcessor could potentially provide more insightful error messages"
I unknowingly had a zombie process already bound to port `27017`, and when I went to run Mongod I was given the following error:

java.io.IOException: Could not start process: \<EOF>

Naturally, I had no idea what this error message was supposed to mean. However, debugging `LogWatchStreamProcessor` reveals that the real issue was `SocketException: Address already in use`, hidden inside of `StringB

[2021-04-10 10:24] FlamingTuri opened #117 "Add custom property to force 64 bit architecture"
[`BitSize`](https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/blob/master/src/main/java/de/flapdoodle/embed/process/distribution/BitSize.java) detects that my computer has a 32 bit architecture even though it has a 64 bit one. This causes de.flapdoodle.embed.mongo to attempt downloading a wrong mongodb version. As a workaround, I set the value of `os.arch` property to `x86_64` in the m

[2021-04-20 02:43] michaeljamieson10 opened #118 "M1 Macbook Java 8 Could not open inputStream for mySQL"
Could not find any links for mysql, switched versions of mysql and still same error. The current OS on the device is 11.0 big sur and also has a m1 arm chip.M1 macbook pro is able to use mysql from downloading it through an emulator called rosetta 2. The testing we use is Wix embedded mysql, which uses flapdoodle.

java.io.IOException: Could not open inputStream for https://dev.mysql.com/get/Downl

[2021-05-01 12:49] Felixel42 opened #122 "flapdoodle 3 does not support relative paths in extraction options"
## Summary

I tried to update one of our projects to flapdoodle 3.0.0 via spring boot 2.5. Unfortunately I have encountered a problem when using `withExtraction` in combination with a relative path. Absolute path seems to work fine but is not convenient especially with build systems. We have to change the extraction Folder due to restrictions on our build environment.

## Reproduced on different O

[2021-09-03 20:07] mikebell90 opened #125 "Issues when running on CICD (teamcity)"
We use flapdoodle for example with postgres and mongo.

Because this runs in a docker container in TC and one where we don't have full rights we repeatedly get failures like

[code]

Is there a way to force it to /tmp (via ENV VAR or system property - no code) subdir? Whats your advice?

[2021-09-11 06:55] dlmiles opened #126 "JDK17: Consider using Process.pid() reflectively first in #windowsProcessId(Process)"
In JDK17 you can not call Field#setAccessible() here by default from Maven embed unit test scenarios.
Do this reflectively if you still target a JRE earlier than JRE9, so you are still compatible with JRE8 your releases.
Call method tryJava9ProcessPidMethod(Process) given below first, should avoid InaccessibleObjectException on JRE17,

https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/

[2021-09-13 09:17] lst85 opened #127 "Java 16: java.lang.NoSuchFieldException: handle"
We are using
* de.flapdoodle.embed.mongo 3.0.0
* de.flapdoodle.embed.process 3.0.1
* Java 16
* Ubuntu Linux (!)
in our integration test.

Every time we start an embedded Mongo DB the following Stack trace appears on standard out:

`
java.lang.NoSuchFieldException: handle
	at java.base/java.lang.Class.getDeclaredField(Class.java:2549)
	at de.flapdoodle.embed.process.runtime.Processes.windowsProcess

[2021-09-16 14:19] mm-brn commented on #127
and Java 17 is missing too :)

[2021-11-07 19:14] michaelmosmann commented on #127
There is a new release.. this should solve this. Please try..

[2021-11-07 19:16] michaelmosmann commented on #126
There is a new release. Please try if this solved your problem.. Thank you for your input:)

[2021-11-07 19:18] michaelmosmann commented on #125
Hmm... i think there could be a way.. the default way of storing downloaded artifacts is inside of the user home directory.
Do you use this library itself or embedded-mongodb for this stuff?

[2021-11-22 15:13] bkobeszko opened #128 "Spring Boot: InstantiationError: de.flapdoodle.embed.process.config.io.ProcessOutput"
Components used:
- Spring Boot 2.6.0
- JDK from 8 to 17 (Adoptium)
- de.flapdoodle.embed.mongo 3.2.0
- de.flapdoodle.embed.process 3.1.3

No properties at all, clean project, simple test and exception at start:

[code]

Could be reproduced on [this sample project](https://github.com/bkobeszko/flapdoodle-spring-mongo-test).
Seems like an old problem from about a year ago and Spring Boot 2.4.0 retur

[2021-12-09 04:01] mraible commented on #128
I'm running into this issue when trying to upgrade JHipster to [Spring Boot 2.6.0](https://github.com/jhipster/generator-jhipster/pull/16787). Any ideas how to fix?

[2021-12-10 01:08] mraible commented on #128
I was able to fix @bkobeszko's example in https://github.com/bkobeszko/flapdoodle-spring-mongo-test/pull/1. I think the main thing that made it work was specifying `spring.mongodb.embedded.version=3.5.5` as indicated in [this comment](https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo/issues/359#issuecomment-988720497).

[2021-12-14 00:51] michaelmosmann commented on #128
I did a new release where i backported some apis used by spring boot. Please try version embed mongo 3.2.3 with embed process 3.1.4 (used by 3.2.3). I tested my changes with https://github.com/bkobeszko/flapdoodle-spring-mongo-test/pull/1

[2021-12-14 12:38] bkobeszko commented on #128
Works now with Spring Boot >= 2.6.x and
- new de.flapdoodle.embed.mongo 3.2.3
- new de.flapdoodle.embed.process 3.1.4 (optionally)
- added `spring.mongodb.embedded.version` in _application.properties_

Thank you.

[2021-12-14 12:38] #128 closed

[2021-12-20 07:51] #127 closed

[2021-12-20 07:52] #126 closed

[2021-12-20 07:56] michaelmosmann commented on #118
As you can read here: https://github.com/wix/wix-embedded-mysql they stopped the further development..

I can not solve this problem..

[2021-12-20 07:56] #118 closed

[2021-12-20 08:01] michaelmosmann commented on #117
Does this problem still exist? Which platform do you use?

[2021-12-20 08:05] #115 closed

[2021-12-20 08:06] michaelmosmann commented on #115
as there are new releases and a big refactoring ahead i close this issue.. reopen if still a problem.

[2021-12-20 12:32] michaelmosmann commented on #111
https://github.com/wix/wix-embedded-mysql is discontinued, so i think i can not help with this issue.

[2021-12-20 12:32] #111 closed

[2021-12-20 12:33] #99 closed

[2021-12-20 12:33] #100 closed

[2021-12-20 12:35] michaelmosmann commented on #98
Is this still an issue?

[2021-12-20 12:36] michaelmosmann commented on #97
Is this still an issue?

[2021-12-20 12:37] michaelmosmann commented on #70
Is this still an issue?

[2021-12-20 12:37] #65 closed

[2021-12-20 12:38] #64 closed

[2021-12-20 12:39] michaelmosmann commented on #51
Is this still an issue?

[2021-12-20 12:41] #43 closed

[2021-12-20 12:42] #33 closed

[2021-12-20 12:42] #38 closed

[2021-12-20 12:43] #42 closed

[2021-12-20 12:56] sasavilic commented on #70
I honestly don't know, we are not using this library any more.

[2021-12-20 16:21] michaelmosmann commented on #70
@sasavilic  ok.. as i do a lot of refactoring i close this ticket. thanks:)

[2021-12-20 16:21] #70 closed

[2021-12-20 20:01] FlamingTuri commented on #117
I was on Kubuntu 20.10. If I remember correctly, I was using a jdk for 32 bit architecture on a 64 bit one. I still think it could be a nice to have feature for future releases if you find yourself in a similar situation

[2021-12-21 05:58] michaelmosmann commented on #117
So i can not rely on os.arch for that.. hmm.. interesting.

Thank you:) .. if you have any idea how to solve this, i moved this part into a new lib (https://github.com/flapdoodle-oss/de.flapdoodle.os)

[2021-12-21 05:58] #117 closed

[2022-01-27 03:14] mikebell90 commented on #125
embedded mongo, sorry for th e late reply.

[2022-01-28 12:53] snazy opened #129 "Failure on Ubuntu 21.10 (against latest release via embed-mongo)"
The platform detection on Ubuntu 21.10 fails to find the right package.
It seems there are a bunch of non-LTS Ubuntu releases configured, but 21.04 and 21.10 are missing there.
What's interesting is that the fallback to `Ubuntu_20_04` isn't considered.

[code]

[code]

[code]

[2022-01-28 12:59] snazy commented on #129
Sorry, I suspect this should have gone to https://github.com/flapdoodle-oss/de.flapdoodle.os/issues/3 , right?

[2022-01-28 16:51] michaelmosmann commented on #129
@snazy no, this is the right place..

[2022-01-28 16:59] michaelmosmann commented on #129
@snazy you did everthing right but the 3.3.0 did not had the matching rules.. fixed in 3.3.1 .. which should be in maven central in about 24 hours (or less)

[2022-01-28 17:17] michaelmosmann commented on #129
@snazy closed ticket ..

[2022-01-28 17:17] #129 closed

[2022-01-29 08:01] michaelmosmann commented on #125
@mikebell90 one way would be creating a symlink from /home/teamcity./embedmongo to something inside /tmp .. the more complicated one: https://github.com/flapdoodle-oss/de.flapdoodle.embed.mongo#customize-artifact-storage

[2022-02-01 20:39] mikebell90 commented on #125
Yeah maybe. We switched to Testcontainers, but thanks for the response.

[2022-02-01 20:39] #125 closed

[2022-02-04 17:59] michaelmosmann commented on #125
@mikebell90 .. totally fine with that.. i expected that everyone is using testcontainers for this..
(but that is not the case.. still >100.000 downloads from maven central each month)

[2022-03-14 14:36] #106 closed

[2022-05-20 21:31] ImpulseTheFox opened #132 "process is null in GitLab CI running gradle check / test"
[code]

[2022-05-21 06:43] michaelmosmann commented on #132
@ImpulseTheFox which version of de.flapdoodle.embed.mongo do you use?

[2022-05-21 19:04] ImpulseTheFox commented on #132
I did not specify a version in the gradle build file, so I'm not sure. However the property spring.mongodb.embedded.version in the application.yml is 3.5.5Am 21.05.2022 08:43 schrieb Michael Mosmann ***@***.***>:
@ImpulseTheFox which version of de.flapdoodle.embed.mongo do you use?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.M

[2022-05-22 08:55] michaelmosmann commented on #132
@ImpulseTheFox ok..so which spring version do you use?

[2022-07-01 11:25] Wawrzyniec-Nowak commented on #132
I got the same problem without using spring. Version of the lib 3.1.4 but it looks like it exists on main branch because if the exception happens before https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/blob/master/src/main/java/de/flapdoodle/embed/process/runtime/AbstractProcess.java#L98 the process is null and during stop() it may call https://github.com/flapdoodle-oss/de.flapdoodle.

[2022-07-01 11:27] Wawrzyniec-Nowak commented on #61
I agree. It happened for me as well and temp dirs are not cleaned up which forces to create workarounds like cleaning temp directories inside the application/tests instead of in the library.

[2022-07-11 17:47] michaelmosmann commented on #61
@Wawrzyniec-Nowak can you describe your setup?

[2022-07-11 17:48] michaelmosmann commented on #132
@Wawrzyniec-Nowak ah.. will have a look

[2022-07-19 11:19] hivenet-mdevarasetty-osi opened #133 "Error while using de.flapdoodle.embed.mongo (latest version) together with Spring Boot 2.7.0 and Java 18"
When I was trying to use de.flapdoodle.embed.mongo (3.4.6) together with Spring Boot 2.7.0 and Java 18 getting java.lang.NoSuchFieldException: handle.

[2022-07-19 16:15] michaelmosmann commented on #133
schould be fixed with this new release: 3.1.12

[2022-07-21 06:53] stefanbethke commented on #132
The NPE is a secondary problem that occurs when the `mongod` binary cannot be run. In our case, the problem is that the Alpine-based image we're using in our pipeline does not have the library dependencies that `mongod` requires. There should be a stack trace above that shows the failure to execute the binary.

[2022-07-21 16:20] michaelmosmann commented on #133
@hivenet-mdevarasetty-osi your welcome.. it takes some time after the release that all maven mirrors have this new version..

[2022-07-21 16:29] #8 closed

[2022-07-21 16:29] #19 closed

[2022-07-21 16:30] #20 closed

[2022-07-21 16:30] #21 closed

[2022-07-21 16:32] #45 closed, assigned to michaelmosmann

[2022-07-21 16:32] #51 closed

[2022-07-21 16:32] #53 closed

[2022-07-21 16:32] #54 closed

[2022-07-21 16:33] #98 closed

[2022-07-21 16:37] michaelmosmann commented on #61
@faizan-talena there will be a new release .. thanks for this hint:)

[2022-07-21 16:39] michaelmosmann commented on #122
@Felixel42 is this still an issue?

[2022-07-25 12:44] Felixel42 commented on #122
Unfortunately this is still a issue but the workaround is working fine and stable. I was able reproduce it with the following setting:

[code]

So from my point of view there is no current need for a fix. It would also be fine for me to close it because the support for relative paths is not documented. (As far as I know)
I created the issue to document the behavior change and it may help others to

[2022-07-25 14:54] michaelmosmann commented on #122
@Felixel42 thanks :)

[2022-07-25 15:17] michaelmosmann commented on #122
@Felixel42 .. i had a quick look and this code is so complicated, that i think the best way to fix this is to finish my latest refactoring.. but it will take some time.

[2022-07-26 06:37] Felixel42 commented on #122
@michaelmosmann thank you for maintaining this awesome library! :)

[2022-08-22 06:30] #132 closed

[2022-08-22 06:30] michaelmosmann commented on #132
Reopen if needed..

[2022-08-22 06:31] michaelmosmann commented on #122
@Felixel42 i have rewritten this whole project so it should be easier to customize it any way you want.. ask for any help:)

[2022-08-22 06:31] #122 closed

[2022-08-22 06:32] michaelmosmann commented on #61
Reopen if needed..

[2022-08-22 06:32] #61 closed

[2022-10-19 08:52] santik opened #134 "Is it possible to download the mongo during the build?"
Until we don't have a real mongo in our system we decided to use embedded mongo, but when we run our application it tries to download the package to start the server. Our infra by default doesn't allow any external connections. Is it possible to download all the necessary packages during the build so that when the application starts up it doesn't need to download anything extra?

[2022-10-19 08:53] #134 closed, assigned to nobody

[2022-11-21 19:18] brenthaertlein opened #135 "NoSuchFileException because path duplicates directory path"
Seeing behavior similar to https://github.com/flapdoodle-oss/de.flapdoodle.embed.process/issues/122 during our build process in OpenShift 3.7 on both RHEL7 and RHEL8 base images.

https://catalog.redhat.com/software/containers/redhat-openjdk-18/openjdk18-openshift/58ada5701fbe981673cd6b10?container-tabs=overview

The behavior _does not occur_ during local development on OS X 12.x and 13.0.

We're

[2022-11-22 00:48] brenthaertlein commented on #135
I've been able to reproduce this locally so have isolated the problem to Docker or the Build Image (not OpenShift) in combination with the new version(s) of embed mongo or embed process. I can start putting together a scratch project for reproducibility which I will try to link here tomorrow.

I didn't include any code to reference because we "aren't using any"... this occurs using the default aut

[2022-11-22 01:58] brenthaertlein commented on #135
I tried building in `eclipse-temurin:8-ubi9-minimal` and get this error so I'm guessing that version of RHEL isn't supported yet

[code]

[2022-11-22 09:42] michaelmosmann commented on #135
@brenthaertlein i would guess that the user under which this is running inside the container does not have a home directory?

[2022-11-22 09:43] michaelmosmann commented on #135
@brenthaertlein is will move this issue over to the mongodb project..